{{define "HEADER"}}
<html lang="{{.Lang}}">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="{{.Desc}}">
    <meta name="keywords" content="{{.Kw}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/tailwind.css" rel="stylesheet">
    <title>{{.Title}}</title>
</head>

{{end}}