{{define "HEADER"}}
<html lang="{{.Lang}}">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="{{.Desc}}">
    <meta name="keywords" content="{{.Kw}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Triniti | Just Another URL Shortener</title>
</head>

{{end}}